@import "../../common/variables.scss";

.modal_backdrop {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0%;
	left: 0;
	background-color: rgba(57, 55, 72, 0.22);
	-webkit-tap-highlight-color: transparent;
	z-index: 1;
}

.modal_container {
	position: absolute;
	top: 0%;
	right: 5%;
	background-color: #fff;
	z-index: 2;

	.modal_paper {
		padding: 32px 16px;
		.text-price {
			margin: 8px 0px;
			@include modal_cart_price;
		}

		.total_price {
			display: flex;
			justify-content: space-between;
			margin-bottom: 34px;

			.price_number {
				font-weight: 700;
			}
		}
		.modal_content {
			padding: 32px 0px;

			.modal_content_item:last-child {
				margin-bottom: 0;
			}

			.modal_content_item {
				display: flex;
				column-gap: 4px;
				margin-bottom: 40px;

				.text-cart {
					margin-top: 0px;
					margin-bottom: 8px;
					@include modal_cart__text;
				}

				.leftside__content_describe {
					flex-basis: 45%;
					.product_attribute__list {
						margin: 0;
					}

					.attribute_item {
						@include attribute__style;
					}
				}

				.rightside__content {
					display: flex;
					column-gap: 10px;

					.content_quantity {
						flex-basis: 10%;
						flex-direction: column;
						display: flex;
						justify-content: space-between;

						.quantity_button {
							cursor: pointer;
							background-color: #fff;
							box-shadow: none;
							border: 1px solid rgba(29, 31, 34, 1);
						}

						.quntity_item_number {
							text-align: center;
						}
					}

					.content_product_img {
						flex-basis: 90%;
						overflow: hidden;
						position: relative;
						.product_img {
							max-width: 124px;
							max-height: 192px;
						}
					}
				}
			}

			ul {
				list-style: none;
				padding: 0;
			}
		}

		.modal_footer {
			column-gap: 12px;
			display: flex;
			justify-content: space-between;

			.footer_view__button {
				border: 2px solid #1d1f22;
				cursor: pointer;
				background-color: #fff;
				@include cart_footer__button;

				&:hover {
					transition: all 0.2s ease-in;
					transform: scale(1.03);
					background-color: #1d1f22;
					color: white;
				}

				&:active {
					transition: transform 0.3s;
					transform: translateY(5px);
				}
			}

			.footer_checkout__button {
				cursor: pointer;
				border: none;
				background-color: #5ece7b;
				color: #fff;

				&:hover {
					transition: transform 0.3s;
					transform: scale(1.03);
					box-shadow: rgba(94, 206, 123, 0.25) 0px 6px 12px -2px,
						rgba(94, 206, 123, 0.3) 0px 3px 7px -3px;
				}

				&:active {
					transition: transform 0.3s;
					transform: translateY(5px);
				}

				@include cart_footer__button;
			}
		}
	}
}

@media (max-width: $breakpoint_sm) {
	.modal_container {
		.modal_paper {
			.modal_content {
				.modal_content_item {
					flex-direction: column-reverse;

					.rightside__content {
						flex-direction: row-reverse;
					}
				}
			}

			.modal_footer {
				column-gap: 0;
				row-gap: 12px;
				flex-direction: column;
			}
		}
	}
}
